@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background-color: #FFEFEF
}

header {
    text-align: center;
}

div.main {
    background-color: #FFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

